{%extends 'helderhome.html'%}
{%block mainpanel%}
</ul>
</nav>
<script>
  function CheckImageSize() {
      var image = document.getElementById("Image13").files[0];
      createReader(image, function (w, h) {
          if (w < 750 || h < 1000) {
              alert("Width is wrong: " + w +
                  "pixels, Height is wrong: " + h + "pixels");
          }
      });
  }
  function createReader(file, whenReady) {
      var reader = new FileReader;
      reader.onload = function (evt) {
          var image = new Image();
          image.onload = function (evt) {
              var width = this.width;
              var height = this.height;
              if (whenReady) whenReady(width, height);
          };
          image.src = evt.target.result;
      };
      reader.readAsDataURL(file);
  }
</script>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-lg-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Product Details</h4>

          <form class="forms-sample " method='POST' enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group-lg mb-3">
              <label for="category">Category:{{data.name}}</label>
            </div>

            <div class="form-group">
              <label >Product Name</label>
              <input type="text" class="form-control" value="{{data.imgname}}" name="imgname" placeholder="Name" required >
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" value="{{data.description}}" name="description" placeholder="Description" required>
            </div>

            <div class="form-group">
              <label for="size">Size Chart</label>
              <input type="text" class="form-control" value="{{data.size}}" name="size" placeholder="Size" required>
            </div>

            <div class="form-group">
              <label for="fabric">Fabric</label>
              <input type="text" class="form-control" value="{{data.detail1}}" name="fabric" placeholder="Fabric" required>
            </div>

            <div class="form-group">
              <label for="type">Pattern</label>
              <select  class="form-control" name="pattern">
                <option value='{{data.pattern_id}}'>{{data.detail3}}</option>
                {%for pattern in patterns%}
                <option value='{{pattern.id}}'>{{pattern.pattern}}</option>
                {%endfor%}

            </select>
            </div>

            <div class="form-group">
              <label for="pattern">Type Of Dres</label>

              <select  class="form-control" name="type">
                <option value='{{data.types_id}}'>{{data.detail2}}</option>
                {%for type in typess%}
                <option value='{{type.id}}'>{{type.types}}</option>
                {%endfor%}
            </select>
            </div>

            <div class="form-group">
              <label for="dtls4">Full sleeve/ Half sleeve </label>
              <select  class="form-control" name="dtls4">
                <option value='{{data.detail4}}' aria-required="">{{data.detail4}}</option>
                <option value='full'>Full sleeve</option>
                <option value='half'>Half sleeve</option>
                <option>none</option>
            </select>
            </div>

            <!--<div class="form-group">-->
            <!--  <label for="dtls4">Details</label>-->
            <!--  <input type="text" class="form-control" value="{{data.detail4}}" name="dtls4" placeholder="Not Required">-->
            <!--</div>-->

            <div class="form-group">
              <label for="dtls5">Details</label>
              <input type="text" class="form-control" value="{{data.detail5}}" name="dtls5" placeholder="Not Required">
            </div>



            <div class="form-group">

              <label>Upload main image</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image" id="Image13" onchange="CheckImageSize()"  class="form-control file-upload-browse" placeholder="Upload Image" >
              </div>
                <p><span class="text-danger fs-3">*</span>Image width X height must be 750px X 1000px</p>

              <label>Upload Slide image1</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image1" class="form-control file-upload-browse" placeholder="Upload Image" >
              </div>

              <label>Upload Slide image2</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image2" class="form-control file-upload-browse" placeholder="Upload Image" >
              </div>

              <label>Upload Slide image3</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image3" " class="form-control file-upload-browse" placeholder="Upload Image" >
              </div>

              <label>Upload Slide image4</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image4" " class="form-control file-upload-browse" placeholder="Upload Image">
              </div>

            </div>
            <div class="form-group">
              <button type="submit" onclick="return confirm('Sure to submit ?')" class="btn btn-primary me-2">Submit</button>

              <a href="{% url 'adhome' %}" class="btn btn-dark my-3">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © helderlifestyle.com
        2022</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Developed and Designed by <a
          href="">InstaDesign</a></span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
{%endblock mainpanel%}