{%extends 'products.html'%}
{%load static%}
{%block mainpanell%}


<!-- Filter Modal -->
<div class="modal fade" id="filtermodal" tabindex="-1" aria-labelledby="filtermodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border border-dark rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">pattern</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="pattern">

                                {%for pattern in patterns%}
                                <option value='{{pattern.id}}'>{{pattern.pattern}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Type</label>
                            <select class="form-control" id="exampleFormControlSelect2" name="type">
                                {%for type in types%}
                                <option value='{{type.id}}'>{{type.types}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                        <label for="dtls4">Full sleeve/ Half sleeve </label>
                        <select  class="form-control" name="dtls4">
                            <option value='NONE'>NONE...</option>
                            <option value='full'>Full sleeve</option>
                            <option value='half'>Half sleeve</option>
                        </select>
                        </div>


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark rounded-0">Apply</button>
                        </div>
                    </form>
                </div>
    </div>
  </div>
</div>

<!-- Filter Modal -->

   <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="section-heading mt-0">
                        <!-- <h2>Our Latest Products</h2>
                        <span>Check out all of our products.</span> -->
                        <div class=" py-3">
                            <button  class="btn btn-secondary fs- m-2" type="button" >
                                <a href="{% url 'pdct'%}" class="text-black">All Products</a>
                                </button>
                            <div class="dropdown d-inline">
                                <button class="btn btn-secondary dropdown-toggle fs- m-2" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Wear
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'topw' %}">All</a>
                                    {%for top in top%}
                                    <a class="dropdown-item"
                                        href="{% url 'topw' %}?category={{top.name}}">{{top.name}}</a>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="dropdown d-inline">
                                <button class="btn btn-secondary dropdown-toggle fs- m-2" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bottom Wear
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'bott' %}">All</a>
                                    {%for bottom in bottom%}
                                    <a class="dropdown-item"
                                        href="{% url 'bott' %}?category={{bottom.name}}">{{bottom.name}}</a>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="dropdown d-inline">
                                <button class="btn btn-secondary dropdown-toggle fs- m-2" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Kids Wear
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'kids' %}">All</a>
                                    {%for kid in kids%}
                                    <a class="dropdown-item"
                                        href="{% url 'kids' %}?category={{kid.name}}">{{kid.name}}</a>
                                    {%endfor%}
                                </div>
                            </div>
                            {%if filter != 'bottom'%}
                                <button  class="btn btn-secondary fs- m-2" type="button" data-toggle="modal" data-target="#filtermodal">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                <a class="text-black">Filter</a>
                                </button>
                            {%endif%}
                        </div>
    <!--                    <form class="text-center py-4">-->
    <!--                        <i class="fa  fa-search"> </i>-->
    <!--    <input type="text" id="filterInput" placeholder="Filter">-->
    <!--</form>-->
                    </div>
                </div>
            </div>
        </div>



<div class="container">
    <div class="row prodcont">
        {%for photo in photos%}
        <div class="col-lg-4 col-md-6 proddiv" data-bs-toggle="modal" data-bs-target="#exampleModal{{photo.id}}">
            <div class="item">
                <div class="thumb">
                    <!--<div class="hover-content">-->
                    <!--    <ul>-->
                    <!--        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
                    <!--        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
                    <!--        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
                    <!--    </ul>-->
                    <!--</div>-->
                    <img class="product-image" src="{{photo.image.url}}" alt="product image">
                </div>
                <div class="down-content">
                    <h4 class="prodtitle">{{photo.imgname}}</h4>
                    <!-- <span>$120.00</span> -->
                    <!-- <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul> -->
                </div>
            </div>
        </div>
        {%endfor%}


         <script>
        let grid = document.querySelector(".prodcont");
let filterInput = document.getElementById("filterInput");


// add event listener
filterInput.addEventListener('keyup', filterProducts);

// callback function
function filterProducts(){
    let filterValue = filterInput.value.toUpperCase();
    let item = grid.querySelectorAll('.proddiv')
    // console.log(filterValue);

    for (let i = 0; i < item.length; i++){
        let span = item[i].querySelector('.prodtitle');

        if(span.innerHTML.toUpperCase().indexOf(filterValue) > -1){
            item[i].style.display = "initial";
        }else{
            item[i].style.display = "none";
        }

    }
}
    </script>

        <div class="col-lg-12">
            <div class="pagination">
                <ul>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li class="active">
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
    {%for photo in photos%}
    <div class="modal fade" id="exampleModal{{photo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px;">
            <div class="modal-content p-4">
                <div class="modal-header">
                    <!--<p class="modal-title" id="exampleModalLabel{{photo.id}}">{{photo.imgname}}</p>-->
                    <h4>{{photo.imgname}}</h4>
                    <button type="button" style="font-size: 15px; margin-right: 10px;" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 ">

                            <!-- <div class="codepen-container"> -->
                            <div class="content-container">



                                <div class="product-image--container row">
                                    <div class="col-10">
                                        <figure class="zoom  backg" onmousemove="zoom(event)"
                                            style="background-image: url({{photo.image.url}})">
                                            <img class="product-image--featured" src="{{photo.image.url}}" />
                                        </figure>
                                        <!-- <img class="product-image--featured" id="{{photo.id}}" src="{{photo.image.url}}" alt="toaster" /> -->
                                    </div>
                                    <div class="col-2 p-0">
                                        <ul class="product-image--list">
                                            <li class="item-selected firstpicture"><img class="w-100" src="{{photo.image.url}}"
                                                    class="product-image--item" />
                                            </li>
                                            <li class="my-2"><img class="w-100" src="{{photo.image1.url}}"
                                                    class="product-image--item" /></li>
                                            <li class="my-2"><img class="w-100" src="{{photo.image2.url}}"
                                                    class="product-image--item" /></li>
                                            <li class="my-2"><img class="w-100" src="{{photo.image3.url}}"
                                                    class="product-image--item" /></li>
                                            <li class="my-2"><img class="w-100" src="{{photo.image4.url}}"
                                                    class="product-image--item" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- </div> -->
                        </div>
                        <div class="col-md-4">
                            <div class="right-content">
                                <h6>Details</h6>
                                <div class="quantity-content">
                                    <ul>
                                        <li>
                                            <p><span>Product Name : </span>{{photo.imgname}}</p>
                                        </li>
                                        <li>
                                            <p><span>Avalialble Sizes : </span>{{photo.size}}</p>
                                        </li>
                                        <li>
                                            <p><span>Pattern : </span>{{photo.pattern}}</p>
                                        </li>
                                        <li>
                                            <p><span>Fabric : </span>{{photo.detail1}}</p>
                                        </li>

                                    </ul>
                                    <!--<div class="left-content">-->
                                    <!--    <h6>No. of Orders</h6>-->
                                    <!--</div>-->
                                </div>

                            </div>
                            <h6>Description</h6>
                            <div class="quantity-content">
                                    <ul>
                                        <li>
                                            <p>{{photo.description}}</p>
                                        </li>
                                        <li>
                                            <p>{{photo.detail4}}</p>
                                        </li>
                                        <li>
                                            <p>{{photo.detail5}}</p>
                                        </li>
                                    </ul>
                                    <!--<div class="left-content">-->
                                    <!--    <h6>No. of Orders</h6>-->
                                    <!--</div>-->
                                </div>

                            <div class="total">
                                    <!--<h4>Total: $210.00</h4>-->
                                    <div class="main-border-button"><a href="{% url 'contact'%}">Get this Product</a></div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary fs-1" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
            </div>
        </div>
    </div>
    {%endfor%}


<style media="screen">
    figure.zoom {
        /* background-position: 50% 50%; */
        /* position: relative; */
        /* margin: 150px auto; */
        /* border: 5px solid white; */
        /* box-shadow: -1px 5px 15px black; */
        /* height: 300px; */
        /* width: 500px; */
        overflow: hidden;
        cursor: zoom-in;
    }

    figure.zoom img:hover {
        opacity: 0;
    }

    figure.zoom img {
        transition: opacity 0.5s;
        display: block;
        width: 100%;
    }
</style>
<script type="text/javascript">
    function zoom(e) {
        var zoomer = e.currentTarget;
        e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
        e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
        x = offsetX / zoomer.offsetWidth * 100
        y = offsetY / zoomer.offsetHeight * 100
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }


</script>

{%endblock%}